<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.ligu.plus.persistence.dao.DocSourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cc.ligu.plus.persistence.entity.DocSource">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="url" property="url" />
        <result column="size" property="size" />
        <result column="suffix" property="suffix" />
        <result column="apply_time" property="applyTime" />
        <result column="remark" property="remark" />
        <result column="create_date" property="createDate" />
        <result column="create_by" property="createBy" />
        <result column="update_date" property="updateDate" />
        <result column="update_by" property="updateBy" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

</mapper>
