<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.ligu.test.persistence.dao.DocQuestionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cc.ligu.test.persistence.entity.DocQuestion">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="name" property="name" />
        <result column="content" property="content" />
        <result column="level" property="level" />
        <result column="score" property="score" />
        <result column="a" property="a" />
        <result column="b" property="b" />
        <result column="c" property="c" />
        <result column="d" property="d" />
        <result column="e" property="e" />
        <result column="f" property="f" />
        <result column="g" property="g" />
        <result column="o" property="o" />
        <result column="answer_correct" property="answerCorrect" />
        <result column="answer_explain" property="answerExplain" />
        <result column="remark" property="remark" />
        <result column="create_date" property="createDate" />
        <result column="create_by" property="createBy" />
        <result column="update_date" property="updateDate" />
        <result column="update_by" property="updateBy" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

</mapper>
