
/*.temp-container{*/
    /*border-bottom: 1px solid #9e9e9e;*/
/*}*/

/*------------选模板--------------*/
.temp-container>ul>li>.module-one img{
    width: 100%;
    height: 100%;
}



.temp-container>ul>li>.module-two p{
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-top: 50px;
}


.temp-container>ul>li>.module-three>div{
    width: 98%;
    height: 96%;
    margin: 0 auto;
    margin-top: 1%;
    padding-top: 21%;
    border: 1px solid #ddd;
}

.temp-container>ul>li>.module-four>p{
    margin-top: 1%;
}
.temp-container>ul>li>.module-four>img{
    margin-top: 1%;
    height: 70%;
    width: 90%;
}
.temp-container>ul>li>.module-five>p{
    margin-top: 1%;
}
.temp-container>ul>li>.module-five>div{
    margin-top: 1%;
    height: 70%;
    width: 90%;
    margin: 0 auto;
    padding-top: 15%;
    border: 1px solid #ddd;
    font-size: 12px;
}


.temp-container>ul{
    overflow: hidden;
    margin-bottom: 0;
}
.temp-container>ul>li{
    width: 30%;
    float: left;
    margin-left: 2%;
    margin-bottom: 4%;
    position: relative;
}
.temp-container>ul>.module-five{
    text-align: center;
}
.temp-container>ul>li:nth-child(4n){
    margin-right: 0%;
}
.temp-container>ul>li>div{
    width: 100%;
    height: 140px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.temp-container>ul>li>p{
    padding: 5px 0;
    text-align: center;
}

.select-temp-container{
    padding: 30px 0;
}
.select-temp{
    width: 100%;
    height:600px;
    border:1px solid #9e9e9e;
}
.btn-container{
    text-align: right;
    margin-top: 10px;
}
.btn-container button{
    height: 30px;
    padding: 0 15px;
    background: #54ab37;
    border: 1px solid #54ab37;
    color: #fff;
    border-radius: 2px;
}


.custom-container {
    border: 3px solid #ddd;
    overflow: hidden;
}

.send-container span{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    border: 1px solid #ddd;
    border-radius: 2px;
    cursor: pointer;
}
.range-container span{
    margin: 0 5px;
    margin-bottom: 20px;
}
.send-container{
    text-align: center;
}
.range-container{
    width: 80px;
    position: absolute;
    top:90px;
    right: 0;
}
.custom-main{
    height:620px;
}
.custom-main textarea{
    display: block;
    border: 1px solid #ddd;
    margin: 0 auto;
    padding: 5px;
    max-height: 300px;
    width: 96%;
    resize: none;
    overflow-x: hidden;
    word-wrap: break-word;
    height: 50%;
    outline: none;
}
.custom-main .title-container{
    width: 96%;
    margin: 0 auto;
    font-size: 15px;
    display: none;
}

.manage-container .word-manage-ct table{
    margin-top: 0 !important;
    width: 100%;
}
.manage-container .word-manage-ct table td{
    border: none;
}
.manage-container .word-manage-ct table td:first-child{
    width: 25%;
}
.manage-container .word-manage-ct #color-picker{
    display: inline-block;
    width: 25px;
    height:25px;
    border: 1px solid #ddd;
    vertical-align: middle;
}
.dustbin{
    width: 100%;
    height: 100%;
}