
.over{
    overflow: hidden;
}
.left{
    float: left;
}
i{
    font-style: normal;
}
*{
    margin:0;
    padding: 0;
}
.content-warp ul{
    margin-bottom: 0 !important;
}
main.container {
    margin-bottom: 0px !important;
}
.roll-operation{
    width: 100%;
    margin-top: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.roll-operation span{
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    line-height: 35px;
    color: #525252;
    cursor: pointer;

}
.roll-operation .active{
    color: #54ab37;
}

span{
    display: inline-block;
}
p span:first-child, li span:first-child{
    width: 95px;
    text-align: right;
    margin-right: 5px;
}
i{
    display: inline-block;
    width: 70px;
    font-size: 12px;
    color: #999;
    text-align: left;
}
p textarea{
    width: 380px;
    min-height: 80px;
    padding-left: 5px;
    border: 1px solid #ddd;
    outline: none;
    resize: none;
    vertical-align: top;
    border-radius: 3px;
}


p textarea[name='classIntroduction']{
    height: 120px;
}
p{
    margin-top: 10px;
}
.btn-containt{
    text-align: right;
    margin-top: 20px;
}
.btn-containt span, .btn-containt button{
    width: 70px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    outline: none;
    text-align: center !important;
}
.btn-containt .save, .add, .up{
    background: #54AB37;
    margin-right: 15px;
}
.btn-containt .quit{
    background: #ddd;
}

.hj-container li{
    margin: 25px 32px 0 0;
}
.hj-container li p a{
    float: right;
    margin-left: 10px;
    text-decoration: none;
}
.hj-container li>a{
    display: inline-block;
}
.hj-container li p span{
    width: 175px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 28px;
}
.hj-container li p input{
    width: 180px;
    height: 28px;
    padding-left: 5px;
    display: none;
}
.hj-container li p a{
    display: inline-block;
    width: 15px;
    height: 28px;
    cursor: pointer;
    display: none;
}
.add, .up{
    float: left;
}
.fenye div[class^=fenY],.fenyDetail {
     margin: 0 !important;
}
.fenyDetail{
    margin-top: 5px !important;
}