@charset "utf-8";
/* CSS Document*/
.parentFileBox {
	/*display: inline-block;*/
	width:200px;
	height:auto;
	overflow:hidden;
	position:relative;
	margin-left: 80px;
}
.parentFileBox>.fileBoxUl {
	position:relative;
	width:100%;
	height:auto;
	overflow:hidden;
	padding-bottom:5px;
}
.parentFileBox>.fileBoxUl>li {
	float:left;
	/*border:1px solid #09F;*/
	/*border-radius:5px;*/
	width:92%;
	height:20px;
	margin-top:5px;
	overflow:hidden;
	position:relative;
	/*background-color:#099;*/
}
.parentFileBox>.fileBoxUl>li>.viewThumb {
	position:absolute;
	top:0;
	left:0;
	width:170px;
	height:150px;
	overflow:hidden;
}
.parentFileBox>.fileBoxUl>li>.viewThumb>img {
	width:100%;
	height:100%;
}
.parentFileBox>.fileBoxUl>li>.diyCancel,.parentFileBox>.fileBoxUl>li>.diySuccess {
	position:absolute;
	width:15px;
	height:15px;
	top:3px;
	/*right:0;*/
	cursor:pointer;
	z-index: 100;
	/*display:none;*/
}
.parentFileBox>.fileBoxUl>li>.diyCancel {
	background:url(../images/x_alt.png) no-repeat;
	background-size: 100% 100%;
	right: 0;
}
.parentFileBox>.fileBoxUl>li>.diySuccess {
	background:url(../images/check_alt.png) no-repeat !important;
	/*cursor:default;*/
	background-size: 100% 100% !important;
	left: 0;
	display: none;
}
.time{
	width: 50px;
	height: 50px;
	margin: 0 auto;
	background:url(../images/timg.gif) no-repeat !important;
	background-size: 75% 75% !important;
	display: none;
}
.parentFileBox>.fileBoxUl>li>.diySuccess {
	background:url(../images/check_alt.png) no-repeat;
	cursor:default;
	background-size: 100% 100%;
	right:30px;
	display: none;
}

.parentFileBox>.fileBoxUl>li>.diyFileName {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 135px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
}
.parentFileBox>.diyButton {
	width:100%;
	margin-top:5px;
	margin-bottom:5px;
	height:20px;
	line-height:20px;
	text-align:center;
}
.parentFileBox>.diyButton>a {
	padding:5px 8px;
	background-color:#09C;
	color:#FFF;
	font-size:12px !important;
	text-decoration:none;
	border-radius:3px;
}
.parentFileBox>.diyButton>a:hover {
	background-color:#09C;
}
/*.parentFileBox>.fileBoxUl>li:hover {*/
	/*-moz-box-shadow: 3px 3px 4px #FF0;*/
	/*-webkit-box-shadow: 3px 3px 4px #FF0;*/
	/*box-shadow: 3px 3px 4px #FF0;*/
/*}*/
.parentFileBox>.fileBoxUl>.diyUploadHover:hover .diyCancel {
	display:block;
}
.parentFileBox>.fileBoxUl>li:hover .diyFileName {
	display:block;
}
.avi_diy_bg,.txt_diy_bg,.doc_diy_bg,.zip_diy_bg,.csv_diy_bg,.xls_diy_bg,.mp3_diy_bg,.pdf_diy_bg,.rar_diy_bg {
	background-position:center;
	background-repeat:no-repeat;
}
/*.avi_diy_bg {*/
	/*background-image:url(../images/filebg/avi.png);*/
/*}*/
/*.txt_diy_bg {*/
	/*background-image:url(../images/filebg/txt.png);*/
/*}*/
/*.doc_diy_bg {*/
	/*background-image:url(../images/filebg/doc.png);*/
/*}*/
/*.zip_diy_bg {*/
	/*background-image:url(../images/filebg/zip.png);*/
/*}*/
/*.csv_diy_bg {*/
	/*background-image:url(../images/filebg/csv.png);*/
/*}*/
/*.xls_diy_bg {*/
	/*background-image:url(../images/filebg/xls.png);*/
/*}*/
/*.mp3_diy_bg {*/
	/*background-image:url(../images/filebg/mp3.png);*/
/*}*/
/*.pdf_diy_bg {*/
	/*background-image:url(../images/filebg/pdf.png);*/
/*}*/
/*.rar_diy_bg {*/
	/*background-image:url(../images/filebg/rar.png);*/
/*}*/
