.forBeauty{
    width: 1170px;
    font-size: 14px;
}
.rsMenuRight>ul {
    padding-top: 0;
}
.fenBanLeft {
    margin-top: 8px;
}
.fenBan-header {
    height: 60px !important;
}
.app_store_headerMenu{
    border: none;
}
.rsTableHeader{
    width: 100%;
}
.mainContain{
    padding-top: 10px;
}
.btn-containt .add{
    padding: 0 15px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background: #54AB37;
    outline: none;
    border: none;
    border-radius: 2px;
}
.rsMenuRight>ul>li{
    font-size: 14px;
}
.rsTable>table{
    font-size: 13px;
}
.rsTable>table>tbody{
    font-size: 12px;
}
.searchInput{
    color: #525252;
}
table thead{
    background: #e7eaec;
    color: #333;
}
td, th{
    padding-left:8px;
}
thead tr{
    height: 45px !important;
}
tbody tr{
    height: 39px !important;
}
tbody tr td{
    text-align: left;
}
.rsTable>table{
    color: #525252 !important;
}