<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.activiti.test.mapper.BsRoleMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.activiti.test.entity.BsRole">
		<id column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="DEC" property="dec" />
		<result column="ROLE_CODE" property="roleCode" />
	</resultMap>

</mapper>
