<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.activiti.test.mapper.BsUserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.activiti.test.entity.BsUser">
		<id column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="LOGIN_NAME" property="loginName" />
		<result column="PASS_WORD" property="passWord" />
	</resultMap>
	
	<select id="selectUserByNameAndPassword" resultType="com.activiti.test.entity.BsUser">
		select * from BS_USER where LOGIN_NAME = #{name} and PASS_WORD = #{pwd}
	</select>

</mapper>
