<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.ligu.mvc.persistence.dao.ApiMapper">
    <!--获取所有的 0 承保公司/ 1隶属单位-->
    <select id="getAllSelect" parameterType="java.lang.Integer" resultType="String">

        <if test="type == 0" >
            select DISTINCT name from insurance_company
        </if>
        <if test="type == 1" >
            SELECT DISTINCT
            professional_unit
            FROM oa_person
        </if>
    </select>

</mapper>