<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.ligu.mvc.persistence.dao.MoneyMapper" >
  <resultMap id="BaseResultMap" type="cc.ligu.mvc.persistence.entity.Money" >
    <id column="money_name" property="moneyName" jdbcType="VARCHAR" />
    <result column="money_date" property="moneyDate" jdbcType="TIMESTAMP" />
    <result column="today_detail" property="todayDetail" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    money_name, money_date, today_detail
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cc.ligu.mvc.persistence.entity.MoneyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from money
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from money
    where money_name = #{moneyName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from money
    where money_name = #{moneyName,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cc.ligu.mvc.persistence.entity.MoneyExample" >
    delete from money
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cc.ligu.mvc.persistence.entity.Money" >
    insert into money (money_name, money_date, today_detail
      )
    values (#{moneyName,jdbcType=VARCHAR}, #{moneyDate,jdbcType=TIMESTAMP}, #{todayDetail,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cc.ligu.mvc.persistence.entity.Money" >
    insert into money
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="moneyName != null" >
        money_name,
      </if>
      <if test="moneyDate != null" >
        money_date,
      </if>
      <if test="todayDetail != null" >
        today_detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="moneyName != null" >
        #{moneyName,jdbcType=VARCHAR},
      </if>
      <if test="moneyDate != null" >
        #{moneyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="todayDetail != null" >
        #{todayDetail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update money
    <set >
      <if test="record.moneyName != null" >
        money_name = #{record.moneyName,jdbcType=VARCHAR},
      </if>
      <if test="record.moneyDate != null" >
        money_date = #{record.moneyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.todayDetail != null" >
        today_detail = #{record.todayDetail,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update money
    set money_name = #{record.moneyName,jdbcType=VARCHAR},
      money_date = #{record.moneyDate,jdbcType=TIMESTAMP},
      today_detail = #{record.todayDetail,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cc.ligu.mvc.persistence.entity.Money" >
    update money
    <set >
      <if test="moneyDate != null" >
        money_date = #{moneyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="todayDetail != null" >
        today_detail = #{todayDetail,jdbcType=VARCHAR},
      </if>
    </set>
    where money_name = #{moneyName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cc.ligu.mvc.persistence.entity.Money" >
    update money
    set money_date = #{moneyDate,jdbcType=TIMESTAMP},
      today_detail = #{todayDetail,jdbcType=VARCHAR}
    where money_name = #{moneyName,jdbcType=VARCHAR}
  </update>
</mapper>