<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.ligu.mvc.persistence.dao.PersonSalaryMapper" >
  <resultMap id="BaseResultMap" type="cc.ligu.mvc.persistence.entity.PersonSalary" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fee_type" property="feeType" jdbcType="VARCHAR" />
    <result column="person_name" property="personName" jdbcType="VARCHAR" />
    <result column="person_num" property="personNum" jdbcType="VARCHAR" />
    <result column="send_time" property="sendTime" jdbcType="VARCHAR" />
    <result column="send_much" property="sendMuch" jdbcType="VARCHAR" />
    <result column="zheng_ju_urls" property="zhengJuUrls" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, fee_type, person_name, person_num, send_time, send_much, zheng_ju_urls
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cc.ligu.mvc.persistence.entity.PersonSalaryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from person_salary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from person_salary
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from person_salary
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cc.ligu.mvc.persistence.entity.PersonSalaryExample" >
    delete from person_salary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cc.ligu.mvc.persistence.entity.PersonSalary" >
    insert into person_salary (id, fee_type, person_name, 
      person_num, send_time, send_much, 
      zheng_ju_urls)
    values (#{id,jdbcType=INTEGER}, #{feeType,jdbcType=VARCHAR}, #{personName,jdbcType=VARCHAR}, 
      #{personNum,jdbcType=VARCHAR}, #{sendTime,jdbcType=VARCHAR}, #{sendMuch,jdbcType=VARCHAR}, 
      #{zhengJuUrls,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cc.ligu.mvc.persistence.entity.PersonSalary" >
    insert into person_salary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="feeType != null" >
        fee_type,
      </if>
      <if test="personName != null" >
        person_name,
      </if>
      <if test="personNum != null" >
        person_num,
      </if>
      <if test="sendTime != null" >
        send_time,
      </if>
      <if test="sendMuch != null" >
        send_much,
      </if>
      <if test="zhengJuUrls != null" >
        zheng_ju_urls,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="feeType != null" >
        #{feeType,jdbcType=VARCHAR},
      </if>
      <if test="personName != null" >
        #{personName,jdbcType=VARCHAR},
      </if>
      <if test="personNum != null" >
        #{personNum,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=VARCHAR},
      </if>
      <if test="sendMuch != null" >
        #{sendMuch,jdbcType=VARCHAR},
      </if>
      <if test="zhengJuUrls != null" >
        #{zhengJuUrls,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update person_salary
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.feeType != null" >
        fee_type = #{record.feeType,jdbcType=VARCHAR},
      </if>
      <if test="record.personName != null" >
        person_name = #{record.personName,jdbcType=VARCHAR},
      </if>
      <if test="record.personNum != null" >
        person_num = #{record.personNum,jdbcType=VARCHAR},
      </if>
      <if test="record.sendTime != null" >
        send_time = #{record.sendTime,jdbcType=VARCHAR},
      </if>
      <if test="record.sendMuch != null" >
        send_much = #{record.sendMuch,jdbcType=VARCHAR},
      </if>
      <if test="record.zhengJuUrls != null" >
        zheng_ju_urls = #{record.zhengJuUrls,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update person_salary
    set id = #{record.id,jdbcType=INTEGER},
      fee_type = #{record.feeType,jdbcType=VARCHAR},
      person_name = #{record.personName,jdbcType=VARCHAR},
      person_num = #{record.personNum,jdbcType=VARCHAR},
      send_time = #{record.sendTime,jdbcType=VARCHAR},
      send_much = #{record.sendMuch,jdbcType=VARCHAR},
      zheng_ju_urls = #{record.zhengJuUrls,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cc.ligu.mvc.persistence.entity.PersonSalary" >
    update person_salary
    <set >
      <if test="feeType != null" >
        fee_type = #{feeType,jdbcType=VARCHAR},
      </if>
      <if test="personName != null" >
        person_name = #{personName,jdbcType=VARCHAR},
      </if>
      <if test="personNum != null" >
        person_num = #{personNum,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null" >
        send_time = #{sendTime,jdbcType=VARCHAR},
      </if>
      <if test="sendMuch != null" >
        send_much = #{sendMuch,jdbcType=VARCHAR},
      </if>
      <if test="zhengJuUrls != null" >
        zheng_ju_urls = #{zhengJuUrls,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cc.ligu.mvc.persistence.entity.PersonSalary" >
    update person_salary
    set fee_type = #{feeType,jdbcType=VARCHAR},
      person_name = #{personName,jdbcType=VARCHAR},
      person_num = #{personNum,jdbcType=VARCHAR},
      send_time = #{sendTime,jdbcType=VARCHAR},
      send_much = #{sendMuch,jdbcType=VARCHAR},
      zheng_ju_urls = #{zhengJuUrls,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>