<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gukeer.classcard.persistence.dao.A_ClassCardCustomMapper">

    <select id="findAllCustonPageBySchoolId" resultType="cn.gukeer.classcard.modelView.ClassCardCustomPageView">

        SELECT
            *
        FROM
            (SELECT DISTINCT
                tcp.id,
                    tcp.name,
                    tcp.start_time startTime,
                    tcp.end_time endTime,
                    tcp.status status,
                    tcp.create_by createBy,
                    tcp.loop_mark loopMark,
                    tcp.loop_date loopDate,
                    temp.name templateName,
                    tcp.interval_time intervalTime,
                    tcp.update_date updateDate
            FROM
                teach_class_card_custom_page tcp
            INNER JOIN teach_class_card_custom_template temp ON temp.id = tcp.template_id
            WHERE
                tcp.del_flag = 0
                    AND tcp.school_id = #{schoolId}
                    AND tcp.status = 1
            ORDER BY tcp.update_date DESC) tmp1
        UNION ALL SELECT
            *
        FROM
            (SELECT DISTINCT
                tcp.id,
                    tcp.name,
                    tcp.start_time startTime,
                    tcp.end_time endTime,
                    tcp.status status,
                    tcp.create_by createBy,
                    tcp.loop_mark loopMark,
                    tcp.loop_date loopDate,
                    temp.name templateName,
                    tcp.interval_time intervalTime,
                    tcp.update_date updateDate
            FROM
                teach_class_card_custom_page tcp
            INNER JOIN teach_class_card_custom_template temp ON temp.id = tcp.template_id
            WHERE
                tcp.del_flag = 0
                    AND tcp.school_id = #{schoolId}
                    AND tcp.status = 0
            ORDER BY tcp.update_date DESC) tmp2


    </select>

    <select id="findViewOneById" resultType="cn.gukeer.classcard.modelView.ClassCardCustomPageView">

        SELECT distinct
            tcp.id,
            tcp.name,
            tcp.start_time startTime,
            tcp.end_time endTime,
            tcp.status status,
            tcp.create_by createBy,
            tcp.loop_date loopDate,
            tcp.loop_mark loopMark,
            tcp.template_id templateId,
            tcp.interval_time intervalTime
        FROM
            teach_class_card_custom_page tcp
        WHERE
            tcp.del_flag=0
        and tcp.id = #{id}
    </select>

    <select id="findAllPageByUser" resultType="cn.gukeer.classcard.modelView.ClassCardCustomPageView">
         SELECT distinct
            tcp.id,
            tcp.name,
            tcp.start_time startTime,
            tcp.end_time endTime,
            tcp.status status,
            tcp.create_by createBy,
            tcp.loop_mark loopMark,
            tcp.loop_date loopDate
        FROM
            teach_class_card_custom_page tcp
        WHERE
            tcp.del_flag=0
            and tcp.school_id=#{schoolId}
            and create_by=#{userId}
        order by tcp.create_date desc
    </select>
    
    <select id="findAllConfigByClassCardIds" resultType="cn.gukeer.classcard.modelView.ClassCardCustomPageView">

        SELECT
        *
        FROM
        (SELECT DISTINCT
        *
        FROM
        (SELECT DISTINCT
        tcp.id,
        tcp.name,
        tcp.start_time startTime,
        tcp.end_time endTime,
        tcp.status status,
        tcp.create_by createBy,
        tcp.loop_date loopDate,
        tcp.loop_mark loopMark,
        tcp.template_id templateId,
        tcp.create_date,
        tmeplete.name templateName,
        tcp.interval_time intervalTime,
        tcp.update_date updateDate
        FROM
        teach_class_card_custom_page tcp
        LEFT JOIN teach_ref_classcard_custom trcc ON tcp.id = trcc.page_id
        LEFT JOIN teach_class_card_custom_template tmeplete ON tmeplete.id = tcp.template_id
        WHERE
        trcc.class_card_id IN
        <foreach collection="classCardIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>



        UNION ALL SELECT DISTINCT
        tcp.id,
        tcp.name,
        tcp.start_time startTime,
        tcp.end_time endTime,
        tcp.status status,
        tcp.create_by createBy,
        tcp.loop_date loopDate,
        tcp.loop_mark loopMark,
        tcp.template_id templateId,
        tcp.create_date,
        tmeplete.name templateName,
        tcp.interval_time intervalTime,
        tcp.update_date updateDate
        FROM
        teach_class_card_custom_page tcp
        LEFT JOIN teach_class_card_custom_template tmeplete ON tmeplete.id = tcp.template_id
        WHERE
        tcp.create_by =#{userId}) tmp1
        WHERE
        tmp1.status = 1
        ORDER BY tmp1.updateDate DESC) tt1
        UNION SELECT
        *
        FROM
        (SELECT DISTINCT
        *
        FROM
        (SELECT DISTINCT
        tcp.id,
        tcp.name,
        tcp.start_time startTime,
        tcp.end_time endTime,
        tcp.status status,
        tcp.create_by createBy,
        tcp.loop_date loopDate,
        tcp.loop_mark loopMark,
        tcp.template_id templateId,
        tcp.create_date,
        tmeplete.name templateName,
        tcp.interval_time intervalTime,
        tcp.update_date updateDate
        FROM
        teach_class_card_custom_page tcp
        LEFT JOIN teach_ref_classcard_custom trcc ON tcp.id = trcc.page_id
        LEFT JOIN teach_class_card_custom_template tmeplete ON tmeplete.id = tcp.template_id
        WHERE
        trcc.class_card_id IN
        <foreach collection="classCardIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>

        UNION ALL SELECT DISTINCT
        tcp.id,
        tcp.name,
        tcp.start_time startTime,
        tcp.end_time endTime,
        tcp.status status,
        tcp.create_by createBy,
        tcp.loop_date loopDate,
        tcp.loop_mark loopMark,
        tcp.template_id templateId,
        tcp.create_date,
        tmeplete.name templateName,
        tcp.interval_time intervalTime,
        tcp.update_date updateDate
        FROM
        teach_class_card_custom_page tcp
        LEFT JOIN teach_class_card_custom_template tmeplete ON tmeplete.id = tcp.template_id
        WHERE
        tcp.create_by = #{userId}) tmp2
        WHERE
        tmp2.status = 0
        ORDER BY tmp2.updateDate DESC) tt2









    </select>

</mapper>