<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gukeer.classcard.persistence.dao.A_ClassIntroductionMapper">

<select id="findIntroductionViewByClasscardId" resultType="cn.gukeer.classcard.modelView.ClassIntroductionView">
        SELECT
            tmp.introductionId id,
            GROUP_CONCAT(tmp.bzr) headTeacher,
            GROUP_CONCAT(tmp.fubzr) viceTeacher,
            tmp.send_word sendWord,
            tmp.class_backbone classBackbone,
            tmp.class_introduction classIntroduction,
            tmp.picUrl,
            tmp.picName,
            tmp.thumbnailUrl,
            tmp.videoName,
            tmp.videoUrl,
            tmp.videoId ,
            tmp.pictureId
        FROM
            (SELECT
                CASE type
                        WHEN 1 THEN GROUP_CONCAT(ut.name)
                    END bzr,
                    CASE type
                        WHEN 2 THEN GROUP_CONCAT(ut.name)
                    END fubzr,
                    rtc.type,
                    tcci.id introductionId,
                    tcci.send_word,
                    tcci.class_backbone,
                    tcci.class_introduction,
                    tccp.pic_url picUrl,
                    tccp.pic_name picName,
                    tccp.thumbnail_url thumbnailUrl,
                    tccv.video_name videoName,
                    tccv.transform_url videoUrl,
                    tcci.video_id videoId,
                    tcci.picture_id pictureId
            FROM
                teach_class_card_introduction tcci
            LEFT JOIN ref_teacher_class rtc ON tcci.class_id = rtc.class_id
            LEFT JOIN user_teacher ut ON ut.id = rtc.teacher_id
            LEFT JOIN teach_class_card_picture tccp ON tccp.id = tcci.picture_id
            LEFT JOIN teach_class_card_video tccv on tccv.id =tcci.video_id
            WHERE
                tcci.class_card_id = #{classCardId}
                    AND tcci.del_flag = 0
                    AND ut.del_flag = 0
                    AND rtc.cycle_id = (SELECT
                        id
                    FROM
                        teach_cycle
                        where school_id=#{schoolId}
                    ORDER BY create_date DESC
                    LIMIT 1)
            GROUP BY tcci.id , rtc.type) tmp
        GROUP BY tmp.introductionId

</select>

</mapper>